{$DOMAIN} {
    encode zstd gzip

    reverse_proxy app:5000 {
        flush_interval -1
    }

    header {
        -Server
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer
        Permissions-Policy "camera=(), microphone=(), geolocation=(), usb=()"
        X-Robots-Tag "noindex, nofollow, noarchive"
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
    }

    log {
        output stdout
        format console
    }
}
